html {
  position: relative;
  min-height: 100%;
}



.delete_form {
  float: right;
  
}

.delete_button {
  position: relative;
  bottom: 49px;
  width: 70px;
  height: 35px;
  border-radius: 5px;
}

.delete_button2 {
  position: relative;
  bottom: 49px;
  width: 70px;
  height: 35px;
  border-radius: 5px;
}

.view_link {
  padding-right: 10px;
}

.jumbotron {
  margin-top: 50px;
}

.jumbotron h1 {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #EEEEEE ;
}

.push_text_down {
  padding-top: 20px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}
.marge2 {
  margin-bottom: 110px;
}