.delete_form {
  float: right;
  
}

.delete_button {
  position: relative;
  bottom: 49px;
  width: 70px;
  height: 35px;
  border-radius: 5px;
}

.delete_button2 {
  position: relative;
  bottom: 49px;
  width: 70px;
  height: 35px;
  border-radius: 5px;
}

.view_link {
  padding-right: 10px;
}